/* Estilos para botones personalizados */
.btn-outline-custom {
  border-color: #f28502;
  color: #f28502;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s,
    transform 0.3s;
}

.btn-outline-custom:hover {
  background-color: #f28502;
  border-color: #f28502;
  color: #ffffff;
  transform: scale(1.05);
}

.editar {
  color: #25a701;
  cursor: pointer;
  transition: transform 0.3s;
}

.borrar {
  color: #c00c0c;
  cursor: pointer;
  transition: transform 0.3s;
}

.editar:hover,
.borrar:hover {
  transform: scale(1.2);
}

.modal-content {
  margin-left: 41.5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.693);
}

.coso {
  color: #001d38;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
}

.coso:hover {
  color: #f28502;
  transform: scale(1.05);
}
