<app-sidebar></app-sidebar>

<section class="ochenta" data-aos="fade-left">
  <div class="container mt-4">
    <div class="mx-3">
      <span class="h1">Clientes</span>
      <div class="card-body mt-4">
        <span class="h3">Gestionar</span>
        <button class="btn btn-outline-custom btn-lg float-end" routerLink='/app-web/clientes/clientes-registro'>Agregar cliente</button>
        <button class="btn btn-outline-custom btn-lg float-end me-3" (click)="generarReporte()">Accion</button>

        <!-- Barra de búsqueda y filtro -->
        <div class="d-flex justify-content-between align-items-center mt-4 mb-3">
          <input type="text" class="form-control me-2" placeholder="Buscar cliente..." (input)="buscarCliente($event)">
          <div class="dropdown">
            <button class="btn btn-outline-custom dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-filter"></i> Ordenar
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><button class="dropdown-item" (click)="ordenarClientes('idCliente', 'asc')">Predeterminado</button></li>
              <li><button class="dropdown-item" (click)="ordenarClientes('persona.nombre', 'asc')">Nombre Ascendente</button></li>
              <li><button class="dropdown-item" (click)="ordenarClientes('persona.nombre', 'desc')">Nombre Descendente</button></li>
            </ul>
          </div>
        </div>

        <table class="table table-hover mt-4">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nombre completo</th>
              <th>Teléfono</th>
              <th>Correo</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cliente of clientesFiltrados">
              <td><strong>{{ cliente.idCliente }}</strong></td>
              <td>{{ cliente.persona.nombre }} {{ cliente.persona.apellidoPaterno }} {{ cliente.persona.apellidoMaterno }}</td>

              <td>{{ cliente.persona.telefono }}</td>
              <td>{{ cliente.persona.correo }}</td>
              <td>
                <i class="editar fa-solid fa-pen-to-square me-3" (click)="editarCliente(cliente.idCliente)"></i>
                <i (click)="openDeleteModal(cliente.idCliente)" class="borrar fa-solid fa-trash"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>    
</section>

<!-- Modal para Confirmar Eliminación -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true" [ngClass]="{'show': showDeleteModal}" [ngStyle]="{'display': showDeleteModal ? 'block' : 'none'}">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="closeDeleteModal()">
                </button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas eliminar este cliente?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeDeleteModal()">Cancelar</button>
                <button type="button" class="btn btn-danger" (click)="confirmarEliminarCliente()">Eliminar</button>
            </div>
        </div>
    </div>
</div>
