<!-- Barra lateral -->
<nav class="sidebar" [class.minimized]="isSidebarMinimized">
  <div class="sidebar-header">
    <div class="logo-container">
      <img src="assets/images/logo-pro.ico" alt="Logo" class="logo" routerLink="/app-web/dashboard">
      <div class="header-text" *ngIf="!isSidebarMinimized">
        <img src="assets/images/coso.png" alt="">
        <p><i class="fa-solid fa-user"></i><strong> {{ nombreUsuario }}</strong></p>
      </div>
    </div>
  </div>
  <ul class="sidebar-menu">
    <!-- Clientes -->
    <li class="menu-item">
      <div class="menu-title">
        <a routerLink="/app-web/clientes/clientes-lista"><i class="fa-solid fa-address-book"></i>
          <span *ngIf="!isSidebarMinimized">Clientes</span>
        </a>
      </div>
    </li>
    <!-- Empleados -->
    <li class="menu-item" *ngIf="isAdmin">
      <div class="menu-title">
        <a routerLink="/app-web/empleados/empleados-lista"><i class="fa-solid fa-address-card"></i>
          <span *ngIf="!isSidebarMinimized">Empleados</span>
        </a>
      </div>
    </li>
    <!-- Usuarios -->
    <li class="menu-item" *ngIf="isAdmin">
      <div class="menu-title">
        <a routerLink="/app-web/usuarios/usuarios-lista"><i class="fa-solid fa-users"></i>
          <span *ngIf="!isSidebarMinimized">Usuarios</span>
        </a>
      </div>
    </li>
    <!-- Habitaciones -->
    <li class="menu-item">
      <div class="menu-title">
        <a routerLink="/app-web/habitaciones/habitaciones-lista"><i class="fa-solid fa-bed"></i>
          <span *ngIf="!isSidebarMinimized">Habitaciones</span>
        </a>
      </div>
    </li>
    <!-- Productos -->
    <li class="menu-item">
      <div class="menu-title">
        <a routerLink="/app-web/productos/productos-lista"><i class="fa-solid fa-tags"></i>
          <span *ngIf="!isSidebarMinimized">Productos</span>
        </a>
      </div>
    </li>
    <!-- Reservaciones -->
    <li class="menu-item">
      <div class="menu-title">
        <a routerLink="/app-web/reservaciones/reservaciones-lista"><i class="fa-solid fa-book"></i>
          <span *ngIf="!isSidebarMinimized">Reservaciones</span>
        </a>
      </div>
    </li>
    <!-- Ventas -->
    <li class="menu-item">
      <div class="menu-title">
        <a routerLink="/app-web/ventas/ventas-lista"><i class="fa-solid fa-cash-register"></i>
          <span *ngIf="!isSidebarMinimized">Ventas</span>
        </a>
      </div>
    </li>
    <!-- Cargos -->
    <li class="menu-item" *ngIf="isAdmin">
      <div class="menu-title">
        <a routerLink="/app-web/cargos/cargos-lista"><i class="fa-solid fa-toolbox"></i>
          <span *ngIf="!isSidebarMinimized">Cargos</span>
        </a>
      </div>
    </li>
  </ul>
  <div class="logout-button-container">
    <button type="submit" class="btn btn-outline-light" routerLink="/app-web/login" (click)="onLogOut()">
      <i class="fa-solid fa-door-open"></i>
      <span *ngIf="!isSidebarMinimized">Cerrar sesión</span>
    </button>
  </div>
</nav>

<!-- Contenedor para el botón de alternancia -->
<div class="sidebar-toggle-container">
  <div class="toggle-button" (click)="toggleSidebar()">
    <i class="fa-solid" [ngClass]="{'fa-angle-right': isSidebarMinimized, 'fa-angle-left': !isSidebarMinimized}"></i>
  </div>
</div>