.sidebar {
  width: 19%;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: #001d38;
  color: #fff;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.3s, z-index 0.3s;
  z-index: 10;
}

.sidebar.minimized {
  width: 4.6%;
  padding: 10px;
  justify-content: flex-start;
}

.sidebar.minimized .logout-button-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.sidebar-header,
.sidebar-menu,
.logout-button-container {
  transition: opacity 0.3s;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.sidebar.minimized .logo-container {
  margin-top: 10px;
  margin-bottom: 30px;
}

.logo {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.3s;
}

.sidebar.minimized .logo {
  margin-right: 0;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15px;
}

h5 {
  margin: 0;
  font-stretch: ultra-condensed;
  font-size: 1.1rem;
}

p {
  margin: 0;
  font-size: 1rem;
  font-stretch: ultra-condensed;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: auto;
}

.sidebar-menu > li {
  margin-bottom: 0px;
}

.sidebar-menu a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s,
    transform 0.3s;
}

.sidebar-menu a:hover {
  background-color: #f28502;
  color: #fffff0;
  transform: scale(1.05);
}

.sidebar.minimized .menu-title a {
  justify-content: center;
}

.logout-button-container {
  margin-top: 20px;
}

.sidebar.minimized .logout-button-container {
  margin-top: 40px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-outline-light {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s,
    transform 0.3s;
}

.btn-outline-light:hover {
  background-color: red;
  color: #fff;
  border-color: red;
  transform: scale(1.05);
}

.sub-menu {
  display: none;
  margin-top: 5px;
  padding-left: 20px;
  list-style-type: none;
}

.sub-menu.open {
  display: block;
}

.sub-menu a {
  color: #bbb;
  text-decoration: none;
  display: block;
  padding: 5px 0;
}

.sub-menu a:hover {
  color: #fff;
}

.menu-item {
  cursor: pointer;
}

.menu-item a {
  margin-bottom: 0px;
}

.menu-title {
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 18px;
}

.toggle-icon i {
  transition: transform 0.3s ease-in-out;
  margin-left: 1rem;
}

.sub-menu {
  display: none;
  flex-direction: column;
  gap: 8px;
  padding-left: 20px;
}

.sub-menu.open {
  display: flex;
  padding-left: 40px;
}

.menu-title a {
  display: flex;
  align-items: center;
  width: 100%;
}

.menu-title a i {
  margin-left: 0px;
  margin-right: 10px;
}

.logout-button-container {
  margin-top: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.sidebar.minimized .logout-button-container {
  margin-top: 40px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.btn-outline-light {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s,
    transform 0.3s;
}

.btn-outline-light i {
  margin-right: 10px;
}

.sidebar.minimized .btn-outline-light span {
  display: none;
}

.btn-outline-light:hover {
  background-color: red;
  color: #fff;
  border-color: red;
  transform: scale(1.05);
}
