<footer class="bg-light text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <!-- Logo de la empresa -->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <img src="assets/images/logo-pro.ico" alt="Logo" width="150">
      </div>

      <!-- Phone Contact -->
      <div class="col-lg-2 col-md-6 mb-4 mb-md-0 d-flex align-items-center">
        <i class="fas fa-phone-alt" style="color: #2FD7D1; font-size: 24px;"></i>
        <a href="#" class="ms-2" style="color: #FFFFF0;">+52 271 716 6861</a>
      </div>

      <!-- Email Contact -->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0 d-flex align-items-center">
        <i class="fas fa-envelope" style="color: #2FD7D1; font-size: 24px;"></i>
        <a href="mailto:correo@empresa.com" class="ms-2" style="color: #FFFFF0;">suites-center&#64;hotmail.com</a>
      </div>
    </div>
  </div>
</footer>