/* Fondo del footer */
footer {
  background-color: #001d38 !important;
  color: #fffff0;
}

/* Estilos para las imágenes del footer */
footer img {
  width: 50%;
}

/* Estilos para los íconos del footer */
footer i {
  font-size: 24px;
  color: #2fd7d1;
}

/* Estilos para los textos del footer */
footer span {
  font-size: 16px;
  color: #fffff0;
}
