<app-sidebar></app-sidebar>

<!-- Spinner -->
<div *ngIf="isLoading" class="spinner-overlay">
    <div class="sk-chase">
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
    </div>
</div>

<div class="container" data-aos="fade-up">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="form-container">
                <div class="close-button-container">
                    <button type="button" class="btn btn-secondary" aria-label="Close"
                        routerLink='/app-web/habitaciones/habitaciones-lista'>
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <h2 class="text-center" id="form-title">{{ titulo }}</h2>
                <form [formGroup]="formHabitacion" (ngSubmit)="agregarOEditar()">
                    <div class="form-group">
                        <label for="roomName"><i class="fa-solid fa-hotel"></i> Nombre de la habitación<span
                                class="text-danger"> *</span></label>
                        <input type="text" class="form-control" id="roomName" formControlName="habitacion" required>
                    </div>
                    <div class="form-group">
                        <label for="capacity"><i class="fa-solid fa-users"></i> Cupo<span class="text-danger">
                                *</span></label>
                        <input type="number" class="form-control" id="capacity" formControlName="cupo"
                            (focus)="toggleSmallElementsVisibility('roomCupo', true)"
                            (blur)="toggleSmallElementsVisibility('roomCupo', false)" required>
                        <small id="roomCupo" class="form-text text-muted" [hidden]="!showSmallElements['roomCupo']">No
                            se aceptan números negativos</small>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label for="price"><i class="fa-solid fa-money-bill-wave"></i> Precio por noche<span
                                    class="text-danger"> *</span></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="number" class="form-control" id="price" formControlName="precioPorNoche"
                                    (focus)="toggleSmallElementsVisibility('noche', true)"
                                    (blur)="toggleSmallElementsVisibility('noche', false)" required>
                                <small id="noche" class="form-text text-muted" [hidden]="!showSmallElements['noche']">No
                                    se aceptan números negativos</small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="deposit"><i class="fa-solid fa-hand-holding-dollar"></i> Depósito<span
                                    class="text-danger"> *</span></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="number" class="form-control" id="deposit"
                                    formControlName="depositoInicialNoche"
                                    (focus)="toggleSmallElementsVisibility('depoNoche', true)"
                                    (blur)="toggleSmallElementsVisibility('depoNoche', false)" required>
                                <small id="depoNoche" class="form-text text-muted"
                                    [hidden]="!showSmallElements['depoNoche']">No se aceptan números negativos</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label for="priceWeek"><i class="fa-solid fa-money-bill-wave"></i> Precio por semana<span
                                    class="text-danger"> *</span></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="number" class="form-control" id="priceWeek"
                                    formControlName="precioPorSemana"
                                    (focus)="toggleSmallElementsVisibility('semana', true)"
                                    (blur)="toggleSmallElementsVisibility('semana', false)" required>
                                <small id="semana" class="form-text text-muted"
                                    [hidden]="!showSmallElements['semana']">No se aceptan números negativos</small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="depositWeek"><i class="fa-solid fa-hand-holding-dollar"></i> Depósito<span
                                    class="text-danger"> *</span></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="number" class="form-control" id="depositWeek"
                                    formControlName="depositoInicialSemana"
                                    (focus)="toggleSmallElementsVisibility('depoSemana', true)"
                                    (blur)="toggleSmallElementsVisibility('depoSemana', false)" required>
                                <small id="depoSemana" class="form-text text-muted"
                                    [hidden]="!showSmallElements['depoSemana']">No se aceptan números negativos</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label for="priceMonth"><i class="fa-solid fa-money-bill-wave"></i> Precio por mes<span
                                    class="text-danger"> *</span></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="number" class="form-control" id="priceMonth" formControlName="precioPorMes"
                                    (focus)="toggleSmallElementsVisibility('mes', true)"
                                    (blur)="toggleSmallElementsVisibility('mes', false)" required>
                                <small id="mes" class="form-text text-muted" [hidden]="!showSmallElements['mes']">No se
                                    aceptan números negativos</small>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="depositMonth"><i class="fa-solid fa-hand-holding-dollar"></i> Depósito<span
                                    class="text-danger"> *</span></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="number" class="form-control" id="depositMonth"
                                    formControlName="depositoInicialMes"
                                    (focus)="toggleSmallElementsVisibility('depoMes', true)"
                                    (blur)="toggleSmallElementsVisibility('depoMes', false)" required>
                                <small id="depoMes" class="form-text text-muted"
                                    [hidden]="!showSmallElements['depoMes']">No se aceptan números negativos</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="availability"><i class="fa-solid fa-check-to-slot"></i> Disponibilidad<span
                                class="text-danger"> *</span></label>
                        <select class="form-control" id="availability" formControlName="disponibilidad" required>
                            <option value="DISPONIBLE">Disponible</option>
                            <option value="OCUPADA">Ocupada</option>
                        </select>
                    </div>
                    <div class="buttons-container">
                        <button type="button" class="btn btn-danger"
                            routerLink='/app-web/habitaciones/habitaciones-lista'>Cancelar</button>
                        <button type="submit" class="btn btn-success"
                            [disabled]="formHabitacion.invalid">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>