<app-sidebar></app-sidebar>

<!-- Spinner -->
<div *ngIf="isLoading" class="spinner-overlay">
  <div class="sk-chase">
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
  </div>
</div>

<section class="ochenta" data-aos="fade-left">
  <div class="container mt-4">
    <div class="mx-3">
      <span class="h1"><i class="fa-solid fa-address-card"></i> Empleados</span>
      <div class="card-body mt-4">
        <span class="h3">Gestionar</span>
        <button class="btn btn-outline-custom btn-lg float-end"
          routerLink='/app-web/empleados/empleados-registro'>Agregar empleado <i class="fa-solid fa-plus"></i></button>
        <button class="btn btn-outline-custom btn-lg float-end me-3" (click)="generarReporte()">Generar reporte <i
            class="fa-solid fa-file-pdf"></i></button>

        <!-- Barra de búsqueda -->
        <div class="input-group mt-4 mb-3">
          <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
          <input type="text" class="form-control" placeholder="Buscar empleado..." (input)="buscarEmpleado($event)">
        </div>

        <table class="table table-hover mt-4">
          <thead>
            <tr>
              <th (click)="ordenarEmpleados('idEmpleado')" style="cursor: pointer; user-select: none;">
                ID
                <i class="coso fa-solid fa-sort" *ngIf="ordenActual !== 'idEmpleado'"></i>
                <i class="coso fa-solid fa-sort-asc" *ngIf="ordenActual === 'idEmpleado' && orden === 'asc'"></i>
                <i class="coso fa-solid fa-sort-desc" *ngIf="ordenActual === 'idEmpleado' && orden === 'desc'"></i>
              </th>
              <th (click)="ordenarEmpleados('persona.nombre')" style="cursor: pointer; user-select: none;">
                Nombre completo
                <i class="coso fa-solid fa-sort" *ngIf="ordenActual !== 'persona.nombre'"></i>
                <i class="coso fa-solid fa-sort-asc" *ngIf="ordenActual === 'persona.nombre' && orden === 'asc'"></i>
                <i class="coso fa-solid fa-sort-desc" *ngIf="ordenActual === 'persona.nombre' && orden === 'desc'"></i>
              </th>
              <th (click)="ordenarEmpleados('idCargo.nombreCargo')" style="cursor: pointer; user-select: none;">
                Cargo
                <i class="coso fa-solid fa-sort" *ngIf="ordenActual !== 'idCargo.nombreCargo'"></i>
                <i class="coso fa-solid fa-sort-asc"
                  *ngIf="ordenActual === 'idCargo.nombreCargo' && orden === 'asc'"></i>
                <i class="coso fa-solid fa-sort-desc"
                  *ngIf="ordenActual === 'idCargo.nombreCargo' && orden === 'desc'"></i>
              </th>
              <th (click)="ordenarEmpleados('persona.correo')" style="cursor: pointer; user-select: none;">
                Contacto
                <i class="coso fa-solid fa-sort" *ngIf="ordenActual !== 'persona.correo'"></i>
                <i class="coso fa-solid fa-sort-asc" *ngIf="ordenActual === 'persona.correo' && orden === 'asc'"></i>
                <i class="coso fa-solid fa-sort-desc" *ngIf="ordenActual === 'persona.correo' && orden === 'desc'"></i>
              </th>
              <th *ngIf="isAdmin" (click)="ordenarEmpleados('fechaCreacion')"
                style="cursor: pointer; user-select: none;">
                <i class="coso fa-solid fa-sort" *ngIf="ordenActual !== 'fechaCreacion'"></i>
                <i class="coso fa-solid fa-sort-asc" *ngIf="ordenActual === 'fechaCreacion' && orden === 'asc'"></i>
                <i class="coso fa-solid fa-sort-desc" *ngIf="ordenActual === 'fechaCreacion' && orden === 'desc'"></i>
                Fecha de creación
              </th>
              <th *ngIf="isAdmin" (click)="ordenarEmpleados('fechaActualizacion')"
                style="cursor: pointer; user-select: none;">
                <i class="coso fa-solid fa-sort" *ngIf="ordenActual !== 'fechaActualizacion'"></i>
                <i class="coso fa-solid fa-sort-asc"
                  *ngIf="ordenActual === 'fechaActualizacion' && orden === 'asc'"></i>
                <i class="coso fa-solid fa-sort-desc"
                  *ngIf="ordenActual === 'fechaActualizacion' && orden === 'desc'"></i>
                Fecha de actualización
              </th>

              <th style="user-select: none;">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let empleado of empleadosFiltrados">
              <td><strong>{{ empleado.idEmpleado }}</strong></td>
              <td>{{ empleado.persona.nombre }} {{ empleado.persona.apellidoPaterno }} {{
                empleado.persona.apellidoMaterno }}</td>
              <td>{{ empleado.idCargo.nombreCargo }}</td>
              <td>
                <ul style="list-style: none; margin: 0; padding: 0;">
                  <li><i class="fa-solid fa-envelope"></i> {{ empleado.persona.correo }}</li>
                  <li><i class="fa-solid fa-phone"></i> {{ empleado.persona.telefono }}</li>
                </ul>
              </td>
              <td>{{ empleado.fechaCreacion | date:'dd/MM/yyyy HH:mm:ss' }}</td>
              <td>{{ empleado.fechaActualizacion | date:'dd/MM/yyyy HH:mm:ss' }}</td>
              <td>
                <i class="ver fa-solid fa-circle-info me-3" (click)="verInformacion(empleado.idEmpleado)"
                  aria-label="Ver información completa"></i>
                <i class="editar fa-solid fa-pen-to-square me-3" (click)="editarEmpleado(empleado.idEmpleado)"></i>
                <i (click)="notification(empleado.idEmpleado)" class="borrar fa-solid fa-trash"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>