<app-sidebar></app-sidebar>

<section class="ochenta" data-aos="fade-left">
    <div class="container mt-4">
        <div class="mx-3">
            <span class="h1">Usuarios</span>
            <div class="card-body mt-4">
                <span class="h3">Gestionar</span>
                <button class="btn btn-outline-custom btn-lg float-end" routerLink="/app-web/usuarios/usuarios-registro">Agregar usuario</button>
                <button class="btn btn-outline-custom btn-lg float-end me-3" (click)="generarReporte()">Accion</button>

                <!-- Barra de búsqueda y filtro -->
                <div class="d-flex justify-content-between align-items-center mt-4 mb-3">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <input type="text" class="form-control" placeholder="Buscar usuario..." (input)="buscarUsuario($event)">
                    </div>
                </div>

                <table class="table table-hover mt-4">
                    <thead>
                        <tr>
                            <th (click)="ordenarUsuarios('idUsuario')" style="cursor: pointer">
                                <i class="coso fa-solid fa-sort" *ngIf="ordenActual !== 'idUsuario'"></i>
                                <i class="coso fa-solid fa-sort-asc" *ngIf="ordenActual === 'idUsuario' && orden === 'asc'"></i>
                                <i class="coso fa-solid fa-sort-desc" *ngIf="ordenActual === 'idUsuario' && orden === 'desc'"></i>
                                ID
                            </th>
                            <th (click)="ordenarUsuarios('rol')" style="cursor: pointer">
                                <i class="coso fa-solid fa-sort" *ngIf="ordenActual !== 'rol'"></i>
                                <i class="coso fa-solid fa-sort-asc" *ngIf="ordenActual === 'rol' && orden === 'asc'"></i>
                                <i class="coso fa-solid fa-sort-desc" *ngIf="ordenActual === 'rol' && orden === 'desc'"></i>
                                Rol
                            </th>
                            <th (click)="ordenarUsuarios('nombreUsuario')" style="cursor: pointer">
                                <i class="coso fa-solid fa-sort" *ngIf="ordenActual !== 'nombreUsuario'"></i>
                                <i class="coso fa-solid fa-sort-asc" *ngIf="ordenActual === 'nombreUsuario' && orden === 'asc'"></i>
                                <i class="coso fa-solid fa-sort-desc" *ngIf="ordenActual === 'nombreUsuario' && orden === 'desc'"></i>
                                Nombre
                            </th>
                            <th>Contraseña</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuariosFiltrados">
                            <td>{{ usuario.idUsuario }}</td>
                            <td>{{ usuario.rol }}</td>
                            <td>{{ usuario.nombreUsuario }}</td>
                            <td>
                                <ng-container *ngIf="contrasenasVisiblesPorFila[usuario.idUsuario]; else asteriscos">{{ usuario.contrasenaUsuario }}</ng-container>
                                <ng-template #asteriscos>{{ ocultarContrasena(usuario.contrasenaUsuario) }}</ng-template>
                            </td>
                            <td>
                                <button class="ver btn btn-link btn-sm" (click)="alternarVisibilidadContrasenaFila(usuario.idUsuario)">
                                    <ng-container *ngIf="!contrasenasVisiblesPorFila[usuario.idUsuario]">
                                        <i class="fa-solid fa-eye-slash me-2"></i>
                                    </ng-container>
                                    <ng-container *ngIf="contrasenasVisiblesPorFila[usuario.idUsuario]">
                                        <i class="ver fa-solid fa-eye me-2"></i>
                                    </ng-container>
                                </button>
                                <i class="editar fa-solid fa-pen-to-square me-3" (click)="editarUsuario(usuario.idUsuario)"></i>
                                <i class="borrar fa-solid fa-trash" (click)="openDeleteModal(usuario.idUsuario)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<!-- Modal para Confirmar Eliminación -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true" [ngClass]="{'show': showDeleteModal}" [ngStyle]="{'display': showDeleteModal ? 'block' : 'none'}">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="closeDeleteModal()">
                </button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas eliminar este usuario?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeDeleteModal()">Cancelar</button>
                <button type="button" class="btn btn-danger" (click)="confirmarEliminarUsuario()">Eliminar</button>
            </div>
        </div>
    </div>
</div>
