<app-sidebar></app-sidebar>

<!-- Spinner -->
<div *ngIf="isLoading" class="spinner-overlay">
    <div class="sk-chase">
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
    </div>
</div>

<section class="ochenta" data-aos="fade-left">
    <div class="container mt-4">
        <div class="mx-3">
            <span class="h1"><i class="fa-solid fa-users"></i> Usuarios</span>
            <div class="card-body mt-4">
                <span class="h3">Gestionar</span>
                <button class="btn btn-outline-custom btn-lg float-end"
                    routerLink="/app-web/usuarios/usuarios-registro">Agregar usuario <i
                        class="fa-solid fa-plus"></i></button>
                <button class="btn btn-outline-custom btn-lg float-end me-3" (click)="generarReporte()">Generar reporte
                    <i class="fa-solid fa-file-pdf"></i></button>

                <!-- Barra de búsqueda y filtro -->
                <div class="d-flex justify-content-between align-items-center mt-4 mb-3">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <input type="text" class="form-control" placeholder="Buscar usuario..."
                            (input)="buscarUsuario($event)">
                    </div>
                </div>

                <table class="table table-hover mt-4">
                    <thead>
                        <tr>
                            <th (click)="ordenarUsuarios('idUsuario')" style="cursor: pointer; user-select: none">
                                <i class="coso fa-solid fa-sort" *ngIf="ordenActual !== 'idUsuario'"></i>
                                <i class="coso fa-solid fa-sort-asc"
                                    *ngIf="ordenActual === 'idUsuario' && orden === 'asc'"></i>
                                <i class="coso fa-solid fa-sort-desc"
                                    *ngIf="ordenActual === 'idUsuario' && orden === 'desc'"></i>
                                ID
                            </th>
                            <th (click)="ordenarUsuarios('rol')" style="cursor: pointer; user-select: none">
                                <i class="coso fa-solid fa-sort" *ngIf="ordenActual !== 'rol'"></i>
                                <i class="coso fa-solid fa-sort-asc"
                                    *ngIf="ordenActual === 'rol' && orden === 'asc'"></i>
                                <i class="coso fa-solid fa-sort-desc"
                                    *ngIf="ordenActual === 'rol' && orden === 'desc'"></i>
                                Roles
                            </th>
                            <th (click)="ordenarUsuarios('nombreUsuario')" style="cursor: pointer; user-select: none">
                                <i class="coso fa-solid fa-sort" *ngIf="ordenActual !== 'nombreUsuario'"></i>
                                <i class="coso fa-solid fa-sort-asc"
                                    *ngIf="ordenActual === 'nombreUsuario' && orden === 'asc'"></i>
                                <i class="coso fa-solid fa-sort-desc"
                                    *ngIf="ordenActual === 'nombreUsuario' && orden === 'desc'"></i>
                                Nombre
                            </th>
                            <th>Contraseña</th>
                            <th (click)="ordenarUsuarios('fechaCreacion')" style="cursor: pointer; user-select: none">
                                <i class="coso fa-solid fa-sort" *ngIf="ordenActual !== 'fechaCreacion'"></i>
                                <i class="coso fa-solid fa-sort-asc"
                                    *ngIf="ordenActual === 'fechaCreacion' && orden === 'asc'"></i>
                                <i class="coso fa-solid fa-sort-desc"
                                    *ngIf="ordenActual === 'fechaCreacion' && orden === 'desc'"></i>
                                Fecha de creación
                            </th>
                            <th (click)="ordenarUsuarios('fechaActualizacion')"
                                style="cursor: pointer; user-select: none">
                                <i class="coso fa-solid fa-sort" *ngIf="ordenActual !== 'fechaActualizacion'"></i>
                                <i class="coso fa-solid fa-sort-asc"
                                    *ngIf="ordenActual === 'fechaActualizacion' && orden === 'asc'"></i>
                                <i class="coso fa-solid fa-sort-desc"
                                    *ngIf="ordenActual === 'fechaActualizacion' && orden === 'desc'"></i>
                                Fecha de actualización
                            </th>
                            <th style="user-select: none;">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuariosFiltrados">
                            <td><strong>{{ usuario.idUsuario }}</strong></td>
                            <td>
                                <ng-container *ngIf="usuario.roles && usuario.roles.length > 0">
                                    <span *ngFor="let rol of usuario.roles; let last = last">
                                        {{ rol.rolNombre }}<ng-container *ngIf="!last">, </ng-container>
                                    </span>
                                </ng-container>
                                <ng-container *ngIf="!usuario.roles || usuario.roles.length === 0">
                                    Sin rol
                                </ng-container>
                            </td>

                            <td>{{ usuario.nombreUsuario }}</td>
                            <td>
                                <ng-container *ngIf="contrasenasVisiblesPorFila[usuario.idUsuario]; else asteriscos">{{
                                    usuario.contrasenaUncripted }}</ng-container>
                                <ng-template #asteriscos>{{ ocultarContrasena(usuario.contrasenaUncripted)
                                    }}</ng-template>
                                <button class="ver btn btn-link btn-sm"
                                    (click)="alternarVisibilidadContrasenaFila(usuario.idUsuario)">
                                    <ng-container *ngIf="!contrasenasVisiblesPorFila[usuario.idUsuario]">
                                        <i class="fa-solid fa-eye-slash me-2"></i>
                                    </ng-container>
                                    <ng-container *ngIf="contrasenasVisiblesPorFila[usuario.idUsuario]">
                                        <i class="ver fa-solid fa-eye me-2"></i>
                                    </ng-container>
                                </button>
                            </td>
                            <td>{{ usuario.fechaCreacion | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                            <td>{{ usuario.fechaActualizacion | date:'dd/MM/yyyy HH:mm:ss' }}</td>
                            <td>
                                <i class="editar fa-solid fa-pen-to-square me-3"
                                    (click)="editarUsuario(usuario.idUsuario)"></i>
                                <i class="borrar fa-solid fa-trash" (click)="notification(usuario.idUsuario)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>