<app-sidebar></app-sidebar>

<div class="container" data-aos="fade-up">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="form-container">
                <div class="close-button-container">
                    <button type="button" class="btn btn-secondary" aria-label="Close" routerLink='/app-web/cargos/cargos-lista'>
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <h2 class="text-center form-title">{{ titulo }}</h2>
                
                <form [formGroup]="formCargo" (ngSubmit)="agregarOEditar()">
                    <div class="form-group">
                        <label for="cargoName"><i class="fa-solid fa-toolbox"></i> Nombre del Cargo<span class="text-danger"> *</span></label>
                        <input type="text" class="form-control" id="cargoName" 
                        formControlName="nombreCargo" (input)="onInput($event)" 
                        (focus)="toggleSmallElementsVisibility('cargoNameHelp', true)" 
                        (blur)="toggleSmallElementsVisibility('cargoNameHelp', false)" required>
                        <small id="cargoNameHelp" class="form-text text-muted" [hidden]="!showSmallElements['cargoNameHelp']">No se aceptan números ni símbolos raros</small>
                    </div>
                    <div class="form-group">
                        <label for="cargoDescripcion"><i class="fa-solid fa-circle-info"></i> Descripción del Cargo<span class="text-danger"> *</span></label>
                        <textarea class="form-control" id="cargoDescripcion" 
                        formControlName="descripcionCargo" (input)="onInputDescripcion($event)" 
                        (focus)="toggleSmallElementsVisibility('cargoDescripcionHelp', true)" 
                        (blur)="toggleSmallElementsVisibility('cargoDescripcionHelp', false)" required></textarea>
                        <small id="cargoDescripcionHelp" class="form-text text-muted" [hidden]="!showSmallElements['cargoDescripcionHelp']">No se aceptan números ni símbolos raros</small>
                    </div>
                    
                    <div class="buttons-container">
                        <button type="button" class="btn btn-danger" routerLink='/app-web/cargos/cargos-lista'>Cancelar</button>
                        <button type="submit" class="btn btn-success" [disabled]="formCargo.invalid">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
