.container-inicio {
  height: 100vh; /* 100% de la altura del viewport */
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
}

.container-inicio .text-center,
h1 {
  text-align: center; /* Alinea el texto al centro */
  font-size: 2em; /* Cambia el tamaño del texto */
}
