<app-sidebar></app-sidebar>

<div class="container" data-aos="fade-up">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="form-container">
                <div class="close-button-container">
                    <button type="button" class="btn btn-secondary" aria-label="Close" routerLink='/app-web/usuarios/usuarios-lista'>
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <h2 class="text-center">{{ titulo }}</h2>
                <form [formGroup]="formUsuario" (ngSubmit)="agregarOEditar()">
                    <div class="form-group">
                        <label for="rol"><i class="fa-solid fa-screwdriver-wrench"></i> Rol <span class="text-danger"> *</span></label>
                        <select class="form-control" id="rol" formControlName="rol" required>
                            <option value="" disabled selected>Seleccionar rol...</option>
                            <option *ngFor="let rol of roles" [value]="rol">{{ rol }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="userName"><i class="fa-solid fa-user"></i> Nombre de Usuario<span class="text-danger"> *</span></label>
                        <input type="text" class="form-control" id="userName" formControlName="nombreUsuario" required>
                    </div>
                    <div class="form-group">
                        <label for="password"><i class="fa-solid fa-lock"></i> Contraseña<span class="text-danger"> *</span></label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="password" 
                            formControlName="contrasenaUsuario" [type]="passwordVisible ? 'text' : 'password'" required
                            (focus)="toggleSmallElementsVisibility('clientNameHelp', true)" 
                            (blur)="toggleSmallElementsVisibility('clientNameHelp', false)" required>
                            <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility()">
                                <i class="fa fa-eye" *ngIf="!passwordVisible"></i>
                                <i class="fa fa-eye-slash" *ngIf="passwordVisible"></i>
                            </button>
                        </div>
                        <small id="clientNameHelp" class="form-text text-muted" 
                            [hidden]="!showSmallElements['clientNameHelp']">Mínimo 8 carácteres</small>
                    </div>
                    <div class="buttons-container">
                        <button type="button" class="btn btn-danger mr-2" routerLink='/app-web/usuarios/usuarios-lista'>Cancelar</button>
                        <button type="submit" class="btn btn-success" [disabled]="formUsuario.invalid">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
