<section class="body">
  <app-nav-bar></app-nav-bar>
  <div class="container" data-aos="fade-up">
    <section class="hero" data-aos="fade-up">
      <div class="hero-text">
        <h1>Suites Center</h1>
        <p>
          En <strong>Suites Center</strong>, ponemos a su disposición una variedad de <strong>habitaciones sencillas,
            dobles
            y suites ejecutivas en Córdoba, Veracruz</strong>. Ofrecemos opciones con y sin cocineta, adaptándonos
          a sus necesidades con <strong>alquileres por día, semana o mes</strong>.
        </p>
        <p>
          Nuestras instalaciones están diseñadas para brindarle el <strong>máximo confort</strong> y están
          completamente equipadas. Además, nuestro <strong>equipo altamente calificado</strong> le proporcionará una
          <strong>atención personalizada y cálida</strong>, asegurando que se sienta como en casa.
        </p>
        <p>
          <strong>Reserve con nosotros</strong> y disfrute de una <strong>estancia cómoda y sin preocupaciones</strong>.
          Contáctenos para recibir atención personalizada.
        </p>

      </div>
      <div id="heroCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="\assets\images\landing-page\carusel_1.jpg" class="d-block w-100 fixed-size" alt="Imagen 1">
          </div>
          <div class="carousel-item">
            <img src="\assets\images\landing-page\carusel_2.jpg" class="d-block w-100 fixed-size" alt="Imagen 2">
          </div>
          <div class="carousel-item">
            <img src="\assets\images\landing-page\carusel_3.jpg" class="d-block w-100 fixed-size" alt="Imagen 3">
          </div>
          <div class="carousel-item">
            <img src="\assets\images\landing-page\carusel_4.jpg" class="d-block w-100 fixed-size" alt="Imagen 4">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>

    <section class="services" data-aos="fade-up">
      <h2>Servicios <a href="/landing-page/servicios" class="more-info">Conocer más →</a></h2>
      <div class="services-list">
        <a href="/landing-page/servicios" class="service"
          style="background-image: url('/assets/images/landing-page/servicios_1.jpg');" data-aos="zoom-in">
          <div class="overlay">
            <h3>Habitaciones climatizadas</h3>
            <p>Disfrute de la comodidad de nuestras habitaciones con aire acondicionado,
              diseñadas para su confort en cualquier época del año.
            </p>
          </div>
        </a>
        <a href="/landing-page/servicios" class="service"
          style="background-image: url('/assets/images/landing-page/servicios_2.jpg');" data-aos="zoom-in">
          <div class="overlay">
            <h3>Restaurante / Cafetería</h3>
            <p>Disfrute de una variedad de comidas y bebidas en nuestro restaurante
              y cafetería, abierto para su conveniencia.
            </p>
          </div>
        </a>
        <a href="/landing-page/servicios" class="service"
          style="background-image: url('/assets/images/landing-page/servicios_3.jpg');" data-aos="zoom-in">
          <div class="overlay">
            <h3>Área recreativa</h3>
            <p>
              Relájese en nuestra área recreativa o utilice nuestra sala de juntas
              para sus necesidades profesionales.
            </p>
          </div>
        </a>
        <a href="/landing-page/servicios" class="service"
          style="background-image: url('/assets/images/landing-page/servicios_4.jpg');" data-aos="zoom-in">
          <div class="overlay">
            <h3>Conocer más <i class="fa-solid fa-arrow-right"></i></h3>
            <p>
              Conozca más sobre cómo podemos hacer su estancia perfecta.
            </p>
          </div>
        </a>
      </div>
    </section>

    <section class="location" data-aos="fade-up">
      <h2>Donde nos encontramos</h2>
      <div class="map-container" data-aos="zoom-in">
        <app-map></app-map>
      </div>
      <div class="location-info">
        <div class="address-details">
          <div class="address">
            <h3>Suites Center</h3>
            <p>KM 343 CARRET COR VER, SN, INDUSTRIAL, CORDOBA, VER, C.P. 94690</p>
          </div>
          <div class="hours">
            <h4>Horarios</h4>
            <p>Lunes - Domingo<br><strong>Servicio las 24 horas del día, los 7 días de la semana</strong></p>
          </div>
        </div>
      </div>
    </section>

    <section class="payment-methods" data-aos="fade-up">
      <h2>Métodos de pago</h2>
      <div class="methods-list">
        <div class="method" data-aos="zoom-in">
          <div>
            <img src="\assets\images\landing-page\visa.png" alt="">
          </div>
          <div>Visa</div>
        </div>
        <div class="method" data-aos="zoom-in" data-aos-delay="50">
          <div>
            <img src="\assets\images\landing-page\mastercard.png" alt="">
          </div>
          <div>
            Mastercard
          </div>
        </div>
        <div class="method" data-aos="zoom-in" data-aos-delay="100">
          <div>
            <img src="\assets\images\landing-page\efectivo.png" alt="">
          </div>
          <div>Efectivo</div>
        </div>
        <div class="method" data-aos="zoom-in" data-aos-delay="200">
          <div>
            <img src="\assets\images\landing-page\american.png" alt="">
          </div>
          <div>American Express</div>
        </div>
      </div>
    </section>
  </div>
  <app-footer></app-footer>
</section>