<app-nav-bar></app-nav-bar>

<div class="container" data-aos="fade-up">
  <section class="hero" data-aos="fade-up">
    <div class="hero-text">
      <h1>Suites Center</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="heroCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="\assets\images\landing-page\carusel_1.jpg" class="d-block w-100 fixed-size" alt="Imagen 1">
        </div>
        <div class="carousel-item">
          <img src="\assets\images\landing-page\carusel_2.jpg" class="d-block w-100 fixed-size" alt="Imagen 2">
        </div>
        <div class="carousel-item">
          <img src="\assets\images\landing-page\carusel_3.jpg" class="d-block w-100 fixed-size" alt="Imagen 3">
        </div>
        <div class="carousel-item">
          <img src="\assets\images\landing-page\carusel_4.jpg" class="d-block w-100 fixed-size" alt="Imagen 4">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  <section class="services" data-aos="fade-up">
    <h2>Servicios <a href="/landing-page/servicios" class="more-info">Conocer más →</a></h2>
    <div class="services-list">
      <a href="/landing-page/servicios" class="service" style="background-image: url('/assets/images/landing-page/servicios_1.jpg');" data-aos="zoom-in">
        <div class="overlay">
          <h3>Servicio 1</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </a>
      <a href="/landing-page/servicios" class="service" style="background-image: url('/assets/images/landing-page/servicios_2.jpg');" data-aos="zoom-in">
        <div class="overlay">
          <h3>Servicio 2</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </a>
      <a href="/landing-page/servicios" class="service" style="background-image: url('/assets/images/landing-page/servicios_3.jpg');" data-aos="zoom-in">
        <div class="overlay">
          <h3>Servicio 3</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </a>
      <a href="/landing-page/servicios" class="service" style="background-image: url('/assets/images/landing-page/servicios_4.jpg');" data-aos="zoom-in">
        <div class="overlay">
          <h3>Conocer más <i class="fa-solid fa-arrow-right"></i></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </a>
    </div>
  </section>

  <section class="location" data-aos="fade-up">
    <h2>Donde nos encontramos</h2>
    <div class="map-container" data-aos="zoom-in">
      <app-map></app-map>
    </div>
    <div class="location-info">
      <div class="address-details">
        <div class="address">
          <h3>Suites Center</h3>
          <p>KM 343 CARRET COR VER, SN, INDUSTRIAL, CORDOBA, VER, C.P. 94690</p>
        </div>
        <div class="hours">
          <h4>Horarios</h4>
          <p>Lunes - Viernes 09:00 - 17:00<br>Sábado - Domingo Cerrado</p>
        </div>
      </div>
    </div>
  </section>

  <section class="payment-methods" data-aos="fade-up">
    <h2>Métodos de pago</h2>
    <div class="methods-list">
      <div class="method" data-aos="zoom-in" >
        <div>
          <img src="\assets\images\landing-page\visa.png" alt="">
        </div>
        <div>Visa</div>
      </div>
      <div class="method" data-aos="zoom-in"  data-aos-delay="50">
        <div>
          <img src="\assets\images\landing-page\mastercard.png" alt="">
        </div>
        <div>
          Mastercard
        </div>
      </div>
      <div class="method" data-aos="zoom-in" data-aos-delay="100">
        <div>
          <img src="\assets\images\landing-page\efectivo.png" alt="">
        </div>
        <div>Efectivo</div>
      </div>
      <div class="method" data-aos="zoom-in" data-aos-delay="150">
        <div>
          <img src="\assets\images\landing-page\cheque.png" alt="">
        </div>
        <div>Cheque</div>
      </div>
      <div class="method" data-aos="zoom-in" data-aos-delay="200">
        <div>
          <img src="\assets\images\landing-page\american.png" alt="">
        </div>
        <div>American Express</div>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>
