<div *ngIf="isSubmitting" class="spinner-overlay">
  <div class="sk-chase">
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
  </div>
</div>

<section class="body">
  <app-nav-bar></app-nav-bar>
  <div class="container" data-aos="fade-up">
    <div class="map-container" data-aos="fade-up">
      <app-map></app-map>
    </div>

    <div class="location-contact-container">
      <section class="location" data-aos="fade-up" data-aos-delay="100">
        <div class="location-info">
          <div class="address">
            <div class="suites">
              <img src="/assets/images/landing-page/suites-center.jpg" alt="">
            </div>
            <h2>Suites Center</h2>
            <p>KM 343 CARRET COR VER, SN,<br>INDUSTRIAL, CORDOBA, VER, C.P. 94690</p>
            <h3>Horarios</h3>
            <p>Lunes - Viernes / <strong>09:00 - 17:00</strong><br>Sábado - Domingo /
              <strong>Cerrado</strong>
            </p>
            <hr>
            <h3>Contacto</h3>
            <p>Correo: <a href="mailto:suites-center@hotmail.com">suites-center&#64;hotmail.com</a><br>Teléfono:
              <a href="tel:271-716-6844">+52 271 716 6861</a>
            </p>
          </div>
        </div>
      </section>



      <section class="contact" data-aos="fade-up" data-aos-delay="200">
        <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <h2>¡Contáctanos!</h2>

          <div class="form-group">
            <label for="name">* Nombre</label>
            <input type="text" id="name" formControlName="name" required (input)="onInput($event)">
            <div
              *ngIf="contactForm.controls['name'].invalid && (contactForm.controls['name'].dirty || contactForm.controls['name'].touched)"
              class="error">
              Nombre no se puede dejar vacío.
            </div>
          </div>

          <div class="form-group">
            <label for="email">* Correo electrónico</label>
            <input type="email" id="email" formControlName="email" required>
            <div
              *ngIf="contactForm.controls['email'].invalid && (contactForm.controls['email'].dirty || contactForm.controls['email'].touched)"
              class="error">
              <div *ngIf="contactForm.controls['email'].errors?.['required']">Correo no se puede dejar vacío.</div>
              <div *ngIf="contactForm.controls['email'].errors?.['email']">Correo no es válido.</div>
            </div>
          </div>

          <div class="form-group">
            <label for="phone">* Teléfono</label>
            <input type="tel" id="phone" formControlName="phone" (input)="inTelefonoInput($event)">
            <div
              *ngIf="contactForm.controls['phone'].invalid && (contactForm.controls['phone'].dirty || contactForm.controls['phone'].touched)"
              class="error">
              <div *ngIf="contactForm.controls['phone'].errors?.['required']">Teléfono no se puede dejar vacío.</div>
            </div>
          </div>

          <div class="form-group">
            <label for="message">* Mensaje</label>
            <textarea id="message" formControlName="message" required></textarea>
            <div
              *ngIf="contactForm.controls['message'].invalid && (contactForm.controls['message'].dirty || contactForm.controls['message'].touched)"
              class="error">
              Mensaje no se puede dejar vacío.
            </div>
          </div>

          <button class="button" type="submit" [disabled]="contactForm.invalid">Enviar</button>
        </form>



      </section>
    </div>
  </div>
  <app-footer></app-footer>
</section>