.navbar {
  background-color: #001d38 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #fffff0 !important;
  background-color: rgba(0, 29, 56, 0.8);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.navbar-light .navbar-nav .nav-link:hover {
  background-color: #f28502;
  color: #fffff0 !important;
  transform: scale(1.05);
}

.navbar-light .navbar-nav .nav-link i {
  color: #fffff0 !important;
}

.icono {
  transition: transform 0.3s;
}

.icono:hover {
  transform: scale(1.1);
}

.navbar-light .navbar-brand img {
  height: 100%;
}

.navbar-brand {
  transition: transform 0.3s;
}

.navbar-brand:hover {
  transform: scale(1.1);
}
