<app-sidebar></app-sidebar>

<section class="ochenta" data-aos="fade-left">
  <div class="container mt-4">
    <div class="mx-3">
      <span class="h1">Habitaciones</span>
      <div class="card-body mt-4">
        <span class="h3">Gestionar</span>
        <button class="btn btn-outline-custom btn-lg float-end" routerLink='/app-web/habitaciones/habitaciones-registro'>Agregar habitación</button>
        <button class="btn btn-outline-custom btn-lg float-end me-3" (click)="generarReporte()">Acción</button>

        <!-- Barra de búsqueda y filtro -->
        <div class="d-flex justify-content-between align-items-center mt-4 mb-3">
          <input type="text" class="form-control me-2" placeholder="Buscar habitación..." (input)="buscarHabitacion($event)">
          <div class="dropdown">
            <button class="btn btn-outline-custom dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-filter"></i> Ordenar
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><button class="dropdown-item" (click)="ordenarHabitaciones('idHabitacion', 'asc')">Predeterminado</button></li>
              <li><button class="dropdown-item" (click)="ordenarHabitaciones('habitacion', 'asc')">Nombre de habitación Ascendente</button></li>
              <li><button class="dropdown-item" (click)="ordenarHabitaciones('habitacion', 'desc')">Nombre de habitación Descendente</button></li>
              <li><button class="dropdown-item" (click)="ordenarHabitaciones('cupo', 'asc')">Cupo Ascendente</button></li>
              <li><button class="dropdown-item" (click)="ordenarHabitaciones('cupo', 'desc')">Cupo Descendente</button></li>
              <li><button class="dropdown-item" (click)="ordenarHabitaciones('precioDia', 'asc')">Precio Ascendente</button></li>
              <li><button class="dropdown-item" (click)="ordenarHabitaciones('precioDia', 'desc')">Precio Descendente</button></li>
              <li><button class="dropdown-item" (click)="ordenarDisponibilidad('DISPONIBLE')">Habitaciones Disponibles</button></li>
              <li><button class="dropdown-item" (click)="ordenarDisponibilidad('RESERVADA')">Habitaciones Reservadas</button></li>
              <li><button class="dropdown-item" (click)="ordenarDisponibilidad('OCUPADA')">Habitaciones Ocupadas</button></li>
            </ul>
          </div>
        </div>

        <table class="table table-hover mt-4">
          <thead>
            <tr>
              <th>Id</th>
              <th>Habitación</th>
              <th>Cupo</th>
              <th>Precio por día</th>
              <th>Disponibilidad</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let habitacion of habitacionesFiltradas">
              <td><strong>{{ habitacion.idHabitacion }}</strong></td>
              <td>{{ habitacion.habitacion }}</td>
              <td>{{ habitacion.cupo }}</td>
              <td>$ {{ habitacion.precioDia }}</td>
              <td style="position: relative;">
                <span class="status-circle" [ngClass]="{
                  'green': habitacion.disponibilidad === 'DISPONIBLE',
                  'yellow': habitacion.disponibilidad === 'RESERVADA',
                  'red': habitacion.disponibilidad === 'OCUPADA'
                }"></span>
                <select class="form-select custom-select" [(ngModel)]="habitacion.disponibilidad" (change)="actualizarDisponibilidad(habitacion)">
                  <option value="DISPONIBLE" [selected]="habitacion.disponibilidad === 'DISPONIBLE'">DISPONIBLE</option>
                  <option value="RESERVADA" [selected]="habitacion.disponibilidad === 'RESERVADA'">RESERVADA</option>
                  <option value="OCUPADA" [selected]="habitacion.disponibilidad === 'OCUPADA'">OCUPADA</option>
                </select>
              </td>
              <td>
                <i class="editar fa-solid fa-pen-to-square me-3" (click)="editarHabitacion(habitacion.idHabitacion)"></i>
                <i (click)="openDeleteModal(habitacion.idHabitacion)" class="borrar fa-solid fa-trash"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>    
</section>

<!-- Modal para Confirmar Eliminación -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true" [ngClass]="{'show': showDeleteModal}" [ngStyle]="{'display': showDeleteModal ? 'block' : 'none'}">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeDeleteModal()"></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de que deseas eliminar esta habitación?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeDeleteModal()">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="confirmarEliminarHabitacion()">Eliminar</button>
      </div>
    </div>
  </div>
</div>
