<app-sidebar></app-sidebar>

<section class="ochenta">
    <div class="container mt-4">
        <div class="mx-3">
            <span class="h1">Habitaciones</span>
            <div class="card-body mt-4">
                <span class="h3">Gestionar</span>
                <button class="btn btn-dark btn-lg float-end" routerLink='/app-web/habitaciones/habitaciones-registro'>Agregar habitación</button>
                <button class="btn btn-primary btn-lg float-end me-3" (click)="generarReporte()">Generar Reporte</button>
                <table class="table table-hover mt-4">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Habitación</th>
                            <th>Cupo</th>
                            <th>Precio por día</th>
                            <th>Disponibilidad</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let habitacion of habitaciones">
                            <td><strong>{{ habitacion.idHabitacion }}</strong></td>
                            <td>{{ habitacion.habitacion }}</td>
                            <td>{{ habitacion.cupo }}</td>
                            <td>$ {{ habitacion.precioDia }}</td>
                            <td>{{ habitacion.disponibilidad }}</td>
                            <td>
                                <i class="fa-solid fa-pen-to-square me-3" style="color: #25a701; cursor: pointer;" (click)="editarHabitacion(habitacion.idHabitacion)"></i>
                                <i (click)="eliminar(habitacion.idHabitacion)" class="fa-solid fa-trash" style="color: #c00c0c; cursor: pointer;"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>    
</section>
