.ochenta {
  width: 82%;
  align-items: right;
  align-content: right;
  margin-left: 17%;
  margin-top: 20px;
}

.status-circle {
  position: absolute;
  top: 30%;
  left: -8px;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border-color: black;
}

.green {
  background-color: rgb(7, 162, 7);
}

.yellow {
  background-color: #e6aa06;
}

.red {
  background-color: rgb(255, 0, 0);
}

.custom-select {
  width: 150px;
}

.container {
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.693);
  border-radius: 10px;
}

/* Estilos para botones personalizados */
.btn-custom {
  background-color: #f28502;
  border-color: #f28502;
  color: #ffffff;
}

.btn-custom:hover {
  background-color: #d76e00;
  border-color: #d76e00;
  color: #ffffff;
}

/* Estilos para botones personalizados */
.btn-outline-custom {
  border-color: #f28502;
  color: #f28502;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s,
    transform 0.3s;
}

.btn-outline-custom:hover {
  background-color: #f28502;
  border-color: #f28502;
  color: #ffffff;
  transform: scale(1.05);
}

.editar {
  color: #25a701;
  cursor: pointer;
  transition: transform 0.3s;
}

.borrar {
  color: #c00c0c;
  cursor: pointer;
  transition: transform 0.3s;
}

.editar:hover,
.borrar:hover {
  transform: scale(1.2);
}

.modal-content {
  margin-left: 41.5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.693);
}

.coso {
  color: #001d38;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
}

.coso:hover {
  color: #f28502;
  transform: scale(1.05);
}
