.form-container {
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.307);
  border-radius: 15px;
  padding: 20px;
  background-color: #ffffff;
}

.close-button-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-button-container .btn-secondary:hover {
  background-color: #f28502;
  border-color: #f28502;
  transform: scale(1.05);
}

.form-title {
  color: #001d38;
}

.form-group {
  margin-bottom: 20px;
}

.buttons-container {
  margin-top: 20px;
  text-align: center;
}

.btn-danger {
  background-color: #001d38;
  border-color: #001d38;
  margin-right: 10px;
  transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
}

.btn-danger:hover {
  background-color: #f28502;
  border-color: #f28502;
  transform: scale(1.05);
}

.btn-success {
  background-color: #001d38;
  border-color: #001d38;
  transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
}

.btn-success:hover {
  background-color: #f28502;
  border-color: #f28502;
  transform: scale(1.05);
}

.btn-secondary {
  background-color: #001d38;
  border-color: #001d38;
  transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
}

.btn-secondary:hover {
  background-color: #f28502;
  border-color: #f28502;
  transform: scale(1.05);
}

.selected-room {
  font-weight: bold;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.modal-dialog {
  max-width: 50%; /* Ajusta el ancho máximo del modal */
  width: 50%; /* Ajusta el ancho del modal */
  margin-left: 27%;
}

.modal-content {
  padding: 20px;
}

.modal-header {
  border-bottom: none;
  position: relative;
}

.modal-title {
  font-weight: bold;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #001d38;
  border: none;
  color: #fff;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
}

.close-btn:hover {
  background: #f28502;
}

.modal-body {
  max-height: 60vh;
  overflow-y: auto;
}

.room-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.room-name {
  flex: 2;
  font-weight: bold;
}

.room-availability {
  margin-right: 10px;
  flex: 1;
  text-align: center;
}

.boton {
  flex: 1;
}

.modal-footer {
  border-top: none;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .modal-dialog {
    max-width: 90%; /* Ajusta el ancho máximo del modal en pantallas pequeñas */
  }
}
