<app-sidebar></app-sidebar>

<section class="ochenta" data-aos="fade-left">
    <div class="container mt-4">
        <div class="mx-3">
            <span class="h1">Ventas</span>
            <div class="card-body mt-4">
                <span class="h3">Gestionar</span>
                <button class="btn btn-outline-custom btn-lg float-end" routerLink="/app-web/ventas/ventas-registro">Agregar venta</button>
                <button class="btn btn-outline-custom btn-lg float-end me-3" (click)="generarReporte()">Acción</button>

                <!-- Barra de búsqueda y filtro -->
                <div class="d-flex justify-content-between align-items-center mt-4 mb-3">
                    <input type="text" class="form-control me-2" placeholder="Buscar venta..." (input)="buscarVenta($event)">
                    <div class="dropdown">
                        <button class="btn btn-outline-custom dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-filter"></i> Ordenar
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><button class="dropdown-item" (click)="ordenarVentas('idVenta', 'asc')">ID Ascendente</button></li>
                            <li><button class="dropdown-item" (click)="ordenarVentas('idVenta', 'desc')">ID Descendente</button></li>
                            <li><button class="dropdown-item" (click)="ordenarVentas('total', 'asc')">Total Ascendente</button></li>
                            <li><button class="dropdown-item" (click)="ordenarVentas('total', 'desc')">Total Descendente</button></li>
                            <li><button class="dropdown-item" (click)="ordenarVentas('fechaVenta', 'asc')">Fecha Ascendente</button></li>
                            <li><button class="dropdown-item" (click)="ordenarVentas('fechaVenta', 'desc')">Fecha Descendente</button></li>
                        </ul>
                    </div>
                </div>

                <table class="table table-hover mt-4">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Empleado</th>
                            <th>Productos</th>
                            <th>Total</th>
                            <th>Fecha de venta</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let venta of ventasFiltradas">
                            <td>{{ venta.idVenta }}</td>
                            <td>{{ venta.idEmpleado.persona.nombre }}</td>
                            <td>
                                <ul style="list-style: none; margin: 0; padding: 0;">
                                    <li *ngFor="let detalleVenta of venta.detallesVenta">
                                        <strong>Producto:</strong> {{ detalleVenta.producto.nombreProducto }}<br>
                                        <strong>Precio unitario:</strong> $ {{ detalleVenta.precioUnitario }}<br>
                                        <strong>Cantidad:</strong> {{ detalleVenta.cantidad }}<br>
                                        <strong>SubTotal:</strong> $ {{ detalleVenta.subtotal }}<br>
                                        <hr>
                                    </li>
                                </ul>
                            </td>
                            <td>$ {{ venta.total }}</td>
                            <td>{{ venta.fechaVenta }}</td>
                            <td>
                                <i class="editar fa-solid fa-pen-to-square me-3" (click)="editarVenta(venta.idVenta)"></i>
                                <i class="borrar fa-solid fa-trash" (click)="openDeleteModal(venta.idVenta)"></i>
                            </td>                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>    
</section>

<!-- Modal para Confirmar Eliminación -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true" [ngClass]="{'show': showDeleteModal}" [ngStyle]="{'display': showDeleteModal ? 'block' : 'none'}">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="closeDeleteModal()">
                </button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas eliminar esta venta?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeDeleteModal()">Cancelar</button>
                <button type="button" class="btn btn-danger" (click)="confirmarEliminarVenta()">Eliminar</button>
            </div>
        </div>
    </div>
</div>
