<app-sidebar></app-sidebar>

<!-- Spinner -->
<div *ngIf="isLoading" class="spinner-overlay">
    <div class="sk-chase">
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
    </div>
</div>

<section class="ochenta" data-aos="fade-left">
    <div class="container mt-4">
        <div class="mx-3">
            <span class="h1"><i class="fa-solid fa-cash-register"></i> Ventas</span>
            <div class="card-body mt-4">
                <span class="h3">Gestionar</span>
                <button class="btn btn-outline-custom btn-lg float-end"
                    routerLink="/app-web/ventas/ventas-registro">Agregar venta <i class="fa-solid fa-plus"></i></button>
                <button class="btn btn-outline-custom btn-lg float-end me-3" (click)="generarReporte()"
                    *ngIf="isAdmin">Generar reporte
                    <i class="fa-solid fa-file-pdf"></i></button>

                <!-- Barra de búsqueda y filtro -->
                <div class="d-flex justify-content-between align-items-center mt-4 mb-3">
                    <div class="input-group">
                        <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <input type="text" class="form-control" placeholder="Buscar venta..."
                            (input)="buscarVenta($event)">
                    </div>
                </div>

                <table class="table table-hover mt-4">
                    <thead>
                        <tr>
                            <th (click)="ordenarVentas('idVenta')" style="cursor: pointer; user-select: none">
                                <i class="coso fa-solid fa-sort" *ngIf="ordenActual !== 'idVenta'"></i>
                                <i class="coso fa-solid fa-sort-asc"
                                    *ngIf="ordenActual === 'idVenta' && orden === 'asc'"></i>
                                <i class="coso fa-solid fa-sort-desc"
                                    *ngIf="ordenActual === 'idVenta' && orden === 'desc'"></i>
                                ID
                            </th>
                            <th>Productos</th>
                            <th (click)="ordenarVentas('total')" style="cursor: pointer; user-select: none">
                                <i class="coso fa-solid fa-sort" *ngIf="ordenActual !== 'total'"></i>
                                <i class="coso fa-solid fa-sort-asc"
                                    *ngIf="ordenActual === 'total' && orden === 'asc'"></i>
                                <i class="coso fa-solid fa-sort-desc"
                                    *ngIf="ordenActual === 'total' && orden === 'desc'"></i>
                                Total
                            </th>
                            <th (click)="ordenarVentas('fechaVenta')" style="cursor: pointer; user-select: none">
                                <i class="coso fa-solid fa-sort" *ngIf="ordenActual !== 'fechaVenta'"></i>
                                <i class="coso fa-solid fa-sort-asc"
                                    *ngIf="ordenActual === 'fechaVenta' && orden === 'asc'"></i>
                                <i class="coso fa-solid fa-sort-desc"
                                    *ngIf="ordenActual === 'fechaVenta' && orden === 'desc'"></i>
                                Fecha de venta
                            </th>
                            <th *ngIf="isAdmin" (click)="ordenarVentas('fechaCreacion')"
                                style="cursor: pointer; user-select: none">
                                <i class="coso fa-solid fa-sort" *ngIf="ordenActual !== 'fechaCreacion'"></i>
                                <i class="coso fa-solid fa-sort-asc"
                                    *ngIf="ordenActual === 'fechaCreacion' && orden === 'asc'"></i>
                                <i class="coso fa-solid fa-sort-desc"
                                    *ngIf="ordenActual === 'fechaCreacion' && orden === 'desc'"></i>
                                Fecha de creación
                            </th>
                            <th *ngIf="isAdmin" (click)="ordenarVentas('fechaActualizacion')"
                                style="cursor: pointer; user-select: none">
                                <i class="coso fa-solid fa-sort" *ngIf="ordenActual !== 'fechaActualizacion'"></i>
                                <i class="coso fa-solid fa-sort-asc"
                                    *ngIf="ordenActual === 'fechaActualizacion' && orden === 'asc'"></i>
                                <i class="coso fa-solid fa-sort-desc"
                                    *ngIf="ordenActual === 'fechaActualizacion' && orden === 'desc'"></i>
                                Fecha de actualización
                            </th>
                            <th style="user-select: none;">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let venta of ventasFiltradas">
                            <td><strong>{{ venta.idVenta }}</strong></td>
                            <td>
                                <ul style="list-style: none; margin: 0; padding: 0;">
                                    <li *ngFor="let detalleVenta of venta.detallesVenta">
                                        <strong>Producto:</strong> {{ detalleVenta.producto.nombreProducto }}<br>
                                        <strong>Precio unitario:</strong> $ {{ detalleVenta.precioUnitario }}<br>
                                        <strong>Cantidad:</strong> {{ detalleVenta.cantidad }}<br>
                                        <strong>SubTotal:</strong> $ {{ detalleVenta.subtotal }}<br>
                                        <hr>
                                    </li>
                                </ul>
                            </td>
                            <td>$ {{ venta.total }}</td>
                            <td>{{ venta.fechaVenta | date:'dd/MM/yyyy' }}</td>
                            <td *ngIf="isAdmin">{{ venta.fechaCreacion | date:'dd/MM/yyyy h:mm:ss a' }}</td>
                            <td *ngIf="isAdmin">{{ venta.fechaActualizacion | date:'dd/MM/yyyy h:mm:ss a' }}</td>
                            <td>
                                <i class="editar fa-solid fa-pen-to-square me-3"
                                    (click)="editarVenta(venta.idVenta)"></i>
                                <i class="borrar fa-solid fa-trash" (click)="notification(venta.idVenta)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>